@model List<ProyectSoftware.Web.Data.Entities.Author>

<h2>Authors</h2>

<p>
    <a class="btn btn-success" asp-controller="Author" asp-action="Create">Create New Author</a>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Back to Home</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Stage Name
            </th>
            <th>
                Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>

        }


    </tbody>



